@font-face {
    font-family: 'CustomFont';
    src: url('fonts/Agrandir') format('otf');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-color: #fefef0;
    display: flex;
    overflow: scroll;
    flex-direction: column;
    justify-content: flex-start; /* Changed to start for layout below navbar */
    align-items: center; /* Center horizontally */
    font-family: 'CustomFont', sans-serif;
    font-size: 30px;
    padding-top: 70px; /* Add padding to the top to avoid overlap with the navbar */
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    font-size: 1.4rem;
    z-index: 1;
    background-color: #675c5f;
}

.navbar .nav-link { 
    margin-left: 3vw;
    margin-right: 3vw;
    color: #e5edd8;
}

.card {
    background-color: #e5edd8;
    margin: 0 auto;
    margin-bottom: 5vh;/* Center the card */
}

.card-header {
    background-color: #675c5f; 
    color: #e5edd8; 
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.btn.button-color {
    background-color: #675c5f; 
    border: 1px solid #5b554e;
    color: #e5edd8; /* Button text color */
}

.btn.button-color:hover {
    background-color: #c4d8a4;
}

.color-title {
    color: #231f20;
}

.color-registro {
    color: #e5edd8;
}

.form-label {
    font-size: 1rem;
    color: #231f20;
}

.form-control {
    border: 1px solid #5b554e;
}

.form-control:focus {
    border-color: #31463c;
    box-shadow: 0 0 0.2rem rgba(49, 70, 60, 0.25);
}

.centered-form {
    align-items: center;
}

.profile-pic input[type="file"] {
    display: none; /* Hide the file input */
}

.profile-pic img {
    border-radius: 50%; /* Keep the image circular */
    width: 100%; /* Full width of the parent */
    height: 100%; /* Full height of the parent */
    object-fit: cover; /* Ensure the image covers the circle */
    display: none; /* Initially hide the image */
}

.profile-pic {
    width: 20vw; /* Responsive width */
    height: 0; /* Maintain aspect ratio */
    padding-bottom: 20vw; /* Maintain square aspect ratio */
    border-radius: 50%; /* Make it a circle */
    border: 2px solid #675c5f; /* Border color */
    background-color: #f0f0f0; /* Light gray background */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 3vw; /* Space between the circle and fields */
    overflow: hidden; /* Ensure no overflow of the image */
    position: relative; /* For positioning the placeholder */
}

.profile-pic span {
    font-size: 24px; /* Size of the placeholder */
    color: #675c5f; /* Placeholder color */
    position: absolute; /* Position absolutely within the parent */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust to center the placeholder */
    display: flex; /* Flexbox to center content */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}
