/* General styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.enterprise-name {
    margin: 0;
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin-left: 20px;
    padding: 0;
}

.nav-links li {
    margin-right: 15px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.header-right {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.btn {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.btn:hover {
    background-color: #777;
}

/* Hero Section */
.hero-section {
    height: 100vh;
    background-size: cover;
    background-color: #73ccd8;
    background-position: center;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.hero-content {
    text-align: center;
    z-index: 2;
}

.hero-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

/* Content Section */
.content-section {
    background-color: #f4f4f4;
    padding: 40px 20px;
    color: #333;
}
