@font-face {
    font-family: CustomFont;
    src: url(../fonts/AgrandirFontFamily/Agrandir/Agrandir-Regular.otf);
}

body {
    margin-top: 15vh;
    background-color: #e5edd8;
    font-family: CustomFont;
    font-size: 16px;
}

.navbar .sizing-brand {
    font-size: 2vw;
    color: #231f20;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    font-size: 1.4rem;
    z-index: 1;
    background-color: #b1d3b9;
}

.custom-navbar {
    background-color: #b1d3b9;
}

.custom-navbar .nav-link:hover {
    color: #a7a9a5;
}

.navbar .nav-link {
    margin-left: 3vw;
    margin-right: 3vw;
    color: #5b5e58;
}

h3.text-center {
    font-size: 2.5rem;
    color: #5c8a41;
    font-weight: bold;
}

.container {
    background-color: #f4f1ed;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    margin: 20px auto;
}

.card {
    border: 1px solid #eaeaea;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fdfdfd;
}

.card img {
    border-bottom: 1px solid #eaeaea;
}

.card-title {
    font-size: 1.5rem;
    color: #5c8a41;
    font-weight: bold;
    margin: 10px 0 5px;
}

.card-text {
    font-size: 1rem;
    color: #231f20;
}

.row.g-4 {
    justify-content: center;
}

.btn {
    background-color: #8f7e74;
    border-color: #8f7e74;
    margin-top: 35px;
}

.image-hover {
    transition: all 0.3s ease;
}

.image-hover:hover {
    filter: brightness(80%);
    border: 2px solid #a7a9a5;
}

.border-dashed {
    border: 2px dashed #28a745;
}

.empty-list-container {
    background-color: #393939;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    max-width: 500px;
    margin: 50px auto;
    color: #efefef;
    font-weight: bold;
    font-size: 1.5rem;
}

.create-plant-button {
    background-color: #8C7664;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.create-plant-button:hover {
    background-color: #e5edd8;
    cursor: pointer;
}

.color-error{
    color: #ffffff;
}
