@font-face {
    font-family: CustomFont;
    src: url(../fonts/AgrandirFontFamily/Agrandir/Agrandir-Regular.otf);
}

body {
    background-image: url("../img/cover-bg.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: "CustomFont", sans-serif;
}

.semicircle-button {

}
.semicircle-button {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #e5edd8;
    border-radius: 300px 300px 0 0;
    border: none;
    color: rgb(61, 59, 59);
    width: 400px;
    height: 200px;
    font-size: 4rem;
    line-height: 250px;
    text-align: center;
    text-decoration: none;
    font-family: 'CustomFont', sans-serif;
}
.semicircle-button:hover {
    background-color: #b8c0ac;
}
.cover-text{
    font-size:10rem;
    color: #fff6e9;
}
.mini-text{
    font-size: 4rem;
    color:#fff6e9;
}

@media (max-width: 1600px) {
    .cover-text{
        font-size:8rem;
        color: #fff6e9;
    }
    .mini-text{
        font-size: 3rem;
        color:#fff6e9;
    }
}

@media (max-width: 1000px) {
    .semicircle-button {
        width: 300px;
        height: 150px;
        font-size: 3rem;
        line-height: 200px;
    }
    .cover-text{
        font-size:6rem;
        color: #fff6e9;
    }
    .mini-text{
        font-size: 2rem;
        color:#fff6e9;
    }
}

@media (max-width: 400px) {
    .semicircle-button {
        width: 200px;
        height: 100px;
        font-size: 2rem;
        line-height: 125px;
    }
    .cover-text{
        font-size:4rem;
        color: #fff6e9;
    }
    .mini-text{
        font-size: 1.5rem;
        color:#fff6e9;
    }
}

