@font-face {
    font-family: 'CustomFont';
    src: url('fonts/Agrandir') format('otf');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    background-color: #edf4ef; /* Background color */
    font-family: 'CustomFont', sans-serif;
    font-size: 16px; /* Adjusted for readability */
    margin-top: 11vh;
}

.navbar .sizing-brand {
    font-size: 2vw;
    color: #e5edd8;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    font-size: 1.4rem;
    z-index: 1;
    background-color: #675c5f;
}

.custom-navbar {
    background-color:  #d5e9da;
}

.custom-navbar .nav-link:hover {
    color: #c4d8a4; 
}

.navbar .nav-link { 
    margin-left: 3vw;
    margin-right: 3vw;
    color: #231f20;
}

.card {
    background-color: #fff; /* Card background color */
    border: 1px solid #5b554e; /* Card border color */
    border-radius: 5px; /* Rounded corners for cards */
}

.card-body {
    padding: 1.5rem; /* Padding for card body */
}

.card-title {
    color: #231f20; /* Title color */
}

.btn-outline-success {
    border-color: #675c5f; /* Button border color */
    color: #675c5f; /* Button text color */
}

.btn-outline-success:hover {
    background-color: #c4d8a4; /* Button hover color */
    color: #231f20; /* Button text color on hover */
}

.bg-secondary {
    background-color: #675c5f !important; /* Custom background color for section */
}

.text-white {
    color: #e5edd8; /* White text for dark backgrounds */
}

h2 {
    margin: 0; /* Remove margin for headings */
}