@font-face {
  font-family: "helmet";
  src: url("../Fuentes/HelmetNeue-Regular.otf") format("truetype");
}
@font-face {
  font-family: "futuraBold";
  src: url("../Fuentes/FuturaBoldfont.ttf") format("truetype");
}
@font-face {
  font-family: "futuraBook";
  src: url("../Fuentes/FuturaBookfont.ttf") format("truetype");
}
@font-face {
  font-family: "futuraMedium";
  src: url("../Fuentes/FuturaMedium.ttf") format("truetype");
}
@font-face {
  font-family: "futuraItalic";
  src: url("../Fuentes/FuturaMediumItalic.ttf") format("truetype");
}

@keyframes loadMenu {
  from {
    top: -75px;
  }
  to {
    top: 0;
  }
}
@keyframes loadVideoStart {
  from {
    top: 10vh;
    width: 0%;
  }
  to {
    top: 0vh;
    width: 50%;
  }
}
@keyframes loadTextSloganStart {
  from {
    left: -30%;
  }
  to {
    left: 20%;
  }
}
@keyframes loadTextSloganEnd {
  from {
    top: 225px;
    left: 105%;
  }
  to {
    top: 0px;
    left: 55%;
  }
}
@keyframes wiggle {
  0% {
    transform: rotate(1deg);
  }
  10% {
    transform: rotate(2deg);
  }
  20% {
    transform: rotate(3deg);
  }
  30% {
    transform: rotate(2deg);
  }
  40% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-1deg);
  }
  70% {
    transform: rotate(-2deg);
  }
  80% {
    transform: rotate(-3deg);
  }
  90% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}
@keyframes activeNavBar {
  from {
    background-color: #0c63d4;
  }
  to {
    background-color: #b8b8b8;
  }
}

html {
  background-image: url(../Imagenes/Background.png);
}

body {
  background-attachment: scroll;
  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
}

.navbar {
  background-color: #0c63d4;
  border-radius: 0.5vw;
  font-family: "futuraBook";
  height: 5vw;
  overflow: hidden;
  position: fixed;
  top: 0vh;
  width: 100%;
  z-index: 100;
}
.navbar a {
  animation-name: loadMenu;
  color: #fff;
  float: right;
  font-size: 2vw;
  height: 200%;
  padding: 1vw;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color 250ms, color 250ms;
}
.navbar a.img {
  animation-duration: 1000ms;
  float: left;
  padding: 0.25vw 0vw 0vw 0.5vw;
}
.navbar a.img img {
  width: 25vw;
}
.navbar a.first {
  animation-duration: 1500ms;
}
.navbar a.second {
  animation-duration: 2000ms;
}
.navbar a.third {
  animation-duration: 2500ms;
  padding-right: 2vw;
}
.navbar a.active {
  animation-duration: 2000ms;
  animation-name: loadMenu, activeNavBar;
  background-color: #b8b8b8;
  color: black;
  height: 100vw;
}
.navbar a:hover {
  background-color: #b8b8b8;
  color: black;
  height: 200%;
}
.navbar a.img:hover {
  background-color: #0c63d4;
}

.presentation {
  align-items: center;
  display: block;
  height: 45vw;
  position: relative;
  top: 5vw;
}
.presentation p {
  color: #000;
  font-family: "futuraItalic";
  font-size: 2.5vw;
  justify-content: center;
  position: inherit;
}
.presentation p.sloganStart {
  animation-duration: 1000ms;
  animation-name: loadTextSloganStart;
  left: 20%;
  width: max-content;
}
.presentation p.sloganEnd {
  animation-duration: 1400ms;
  animation-name: loadTextSloganEnd;
  left: 55%;
  width: max-content;
}
.presentation video {
  animation-duration: 1400ms;
  animation-name: loadVideoStart;
  background-size: cover;
  display: block;
  margin: auto;
  object-fit: cover;
  position: inherit;
  width: 50%;
}

.misvisobj {
  background-image: linear-gradient(to bottom, #0b55b6, #0699dd);
  border-radius: 1vw;
  column-gap: 2.5vw;
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: auto;
  margin-right: auto;
  padding: 2.5vw;
  position: relative;
  top: 5vw;
  width: 70vw;
}
.misvisobj p {
  border-radius: 1.5vw;
  font-family: "futuraMedium";
  margin-bottom: 1vw;
  padding-left: 2.5vw;
}
.misvisobj p.main {
  background-image: linear-gradient(to bottom, #1075c7, #1666cf);
  color: #fff;
  font-family: "futuraItalic";
  font-size: 3vw;
  font-weight: 900;
  margin-top: 0px;
  padding-bottom: 1vw;
  padding-top: 1vw;
}
.misvisobj p.main:hover {
  animation-duration: 100ms;
  animation-name: wiggle;
}
.misvisobj p.content {
  background-image: linear-gradient(to bottom, #1666cf, #2186ca);
  color: #fff;
  font-size: 1.5vw;
  padding: 1vw;
  text-align: justify;
}
.misvisobj img.icon {
  height: 3vw;
  padding-left: 1vw;
  padding-right: 1vw;
  width: 3vw;
}
.misvisobj img.description {
  border-radius: 2vw;
  height: 12.5vw;
  left: 20%;
  margin: auto;
  width: 20vw;
}
.misvisobj img.description:hover {
  animation-duration: 100ms;
  animation-name: wiggle;
}

.extrasZone {
  background-color: #eeeeee;
  border-top-color: #cacaca;
  border-top-style: solid;
  border-top-width: 0.5vw;
  display: flex;
  height: 10vw;
  margin-top: 12vw;
  position: relative;
  width: 100%;
  z-index: 99;
}
.extrasZone a {
  color: #999999;
  font-family: "futuraBook";
  font-size: 1.5vw;
  font-weight: 900;
  height: max-content;
  left: 35vw;
  position: absolute;
  text-decoration: none;
}
.extrasZone a.cont1 {
  top: 3vw;
}
.extrasZone a.cont2 {
  top: 6vw;
}
.extrasZone a.image {
  height: max-content;
  left: 55vw;
  position: relative;
  top: 3vw;
  width: max-content;
}
.extrasZone img {
  filter: invert(80%);
  width: 5vw;
  height: 5vw;
}

@media screen and (max-width: 1280px) {
  @keyframes loadVideoStart {
    from {
      top: 10vh;
      width: 0%;
    }
    to {
      top: 0vh;
      width: 75%;
    }
  }
  @keyframes loadTextSloganStart {
    from {
      left: -40%;
    }
    to {
      left: 10%;
    }
  }

  .navbar {
    height: 6vw;
  }
  .navbar a {
    font-size: 3vw;
  }

  .presentation {
    height: 65vw;
  }
  .presentation p {
    font-size: 4vw;
  }
  .presentation p.sloganStart {
    left: 10%;
  }
  .presentation video {
    width: 75%;
  }

  .extrasZone {
    height: 12vw;
  }
  .extrasZone a {
    font-size: 2vw;
    left: 30vw;
  }
  .extrasZone a.cont1 {
    top: 2.5vw;
  }
  .extrasZone a.cont2 {
    top: 6.5vw;
  }
  .extrasZone img {
    width: 6vw;
    height: 6vw;
    top: 2vw;
  }
}
@media screen and (max-width: 640px) {
  @keyframes loadVideoStart {
    from {
      top: 10vh;
      width: 0%;
    }
    to {
      top: 0vh;
      width: 85%;
    }
  }
  @keyframes loadTextSloganStart {
    from {
      left: -45%;
    }
    to {
      left: 5%;
    }
  }
  .navbar {
    height: 7.5vw;
  }
  .navbar a {
    font-size: 3.5vw;
    font-weight: 800;
  }
  .navbar a.img img {
    width: 35vw;
  }
  .presentation p.sloganStart {
    left: 5%;
  }
  .presentation video {
    width: 85%;
  }

  .misvisobj {
    top: 10vw;
    width: 90vw;
  }
  .misvisobj p.main {
    font-size: 4.5vw;
    font-weight: 900;
  }
  .misvisobj p.content {
    font-size: 2.5vw;
    font-weight: 500;
    text-align: justify;
  }
  .misvisobj img.icon {
    height: 5vw;
    width: 5vw;
  }
  .misvisobj img.description {
    height: 15vw;
    width: 25vw;
  }

  .extrasZone {
    height: 14vw;
  }
  .extrasZone a {
    font-size: 3vw;
    font-weight: 900;
    left: 25vw;
  }
  .extrasZone a.cont1 {
    top: 2.5vw;
  }
  .extrasZone a.cont2 {
    top: 7.5vw;
  }
  .extrasZone a.image {
    left: 65vw;
    top: 3vw;
  }
  .extrasZone img {
    width: 8vw;
    height: 8vw;
  }
}
